/*basic styles*/

* {
	box-sizing: border-box;
}

body {
	background-color: #faf0e6;
	margin: 0;
	font: 1rem 'Open Sans', 'sans-serif';
	line-height: 1.9;
}

h1 {
	font-size: 4.375rem;
	/*90px/16px*/
	color: #fff8dc;
	font-weight: normal;
	line-height: 2.3;
	text-transform: uppercase;
	text-shadow: 5px 8px 0 #222;
	margin: 20px 0 0;
}

h2 {
	font-size: 1.5rem;
	text-align: center;
}

h3 {
	font-size: 1rem;
	/*16px*/
	text-align: center;
}

img {
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 5px;
}

.sidebar li {
	list-style: none;
	padding: 10px 2px;
	border: 2px solid gray;
	border-radius: 10px 5%;
	margin: 5px 3px 5px 2px;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	width: 70%;
}


/* Pseudo classes*/

a:link {
	color: darkblue;
	text-decoration: none;
}

a:visited {
	color: green;
}

.sidebar a:visited {
	color: green;
}

a:hover {
	color: blue;
}

a:active {
	color: lightcoral;
}


/*Styling focus pseudo-class that targets keyboard accessibility*/

a:focus,
h2:focus,
h4:focus {
	outline: .6px solid green;
	text-decoration: underline;
}


/*main styles*/

.main-header {
	padding-top: 190px;
	height: 650px;
	background: linear-gradient(#f5f5dc, transparent 90%), linear-gradient(0deg, #faf0e6, transparent), #fff url('../images/falls.jpg')no-repeat center;
	background-size: cover;
	border-bottom: 2px solid gray;
}

.title {
	color: #006666;
	font-size: 1.5rem;
	font-weight: 700;
	padding-bottom: 10px;
}

.title,
.main-header {
	text-align: center;
}

.col {
	margin: 0 auto;
}

.container {
	border: 3px solid green;
	box-shadow: 3px 3px 5px 6px #ccc;
	margin-bottom: -10px;
}


/****TABLE STYLING *****/

table {
	width: 60%;
	margin: auto;
}

table,
th {
	border: 2px solid lightgray;
	border-collapse: collapse;
}

th {
	padding: 10px;
}

.sidebar-left {
	border-radius: 10%;
	box-shadow: 5px 3px 2px #222;
	text-align: center;
	float: left;
	width: 200px;
	margin-bottom: 5px;
	margin-top: 30px;
	clear: both;
	font-weight: 400;
}

.imagesidebar {
	float: right;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	margin-top: 30px;
	clear: both;
	
}

.imagesidebar img {
	height: 100%;
	width: 100%;
}



#photogallery {
	clear: both;
	margin: 0 auto;
}

#gallery li {
	list-style: none;
	float: left;
	width: 45%;
	margin: 1.5%;
}

.main-footer {
	padding-top: 120px;
	padding-bottom: 60px;
	border-bottom: 10px solid olive;
	clear: both;
	text-align: center;
	font-family: lobster;
	background-color: #ffe4e1;
	font-size: 1.1rem;
}

.reference {
	padding-top: 25px;
}

.reference p {
	text-align: center;
	clear: both;
}

@media only screen and (min-width:320px) {
	.main-header {
		padding-top: 130px;
		height: 550px;
	}
	h1 {
		font-size: 2.5rem;
		line-height: 1.3;
		text-shadow: 3px 5px 0 #222;
	}
	.sidebar li {
		width: 80%;
		margin-left: 20px;
	}
	.sidebar-left {
		float: none;
		margin: 0 auto;
	}
	.imagesidebar {
		width: 290px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.tertiary {
		padding-left: 1em;
		padding-right: 1em;
		text-align: justify;
	}
	.main-footer {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.arrow {
		display: none;
	}
}

@media only screen and (min-width:480px) {
	h1 {
		font-size: 3.125rem;
	}
	.sidebar-left {
		clear: both;
	}
	.main-footer {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.arrow {
		display: none;
	}
}

@media only screen and (min-width:660px) {
	.sidebar li {
		width: 40%;
		margin: 5px auto;
	}
	.imagesidebar {
		margin-bottom: 30px;
		width: 290px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.tertiary {
		padding-left: 1em;
		padding-right: 1em;
		text-align: justify;
	}
	.arrow {
		display: block;
		font-size: 90px;
		color: white;
		margin-top: 40px;
	}
}

@media only screen and (min-width:1140px) {
	h1 {
		font-size: 4.375rem;
		color: #fff8dc;
		line-height: 2.3;
		text-shadow: 5px 8px 0 #222;
	}
	.main-header {
		padding-top: 190px;
		height: 850px;
	}
	.container {
		width: 90%;
		max-width: 1150px;
		margin: 0 auto;
	}
	.primary {
		width: 30%;
		float: right;
	}
	.secondary {
		width: 30%;
		float: left;
	}
	.tertiary {
		width: 40%;
		float: left;
	}
	.tertiary p {
		text-align: justify;
	}
	table {
		width: 80%;
	}
	.sidebar li {
		width: 70%;
	}
	.imagesidebar {
		width: 250px;
		margin-right: 50px;
	}
	.sidebar-left {
		margin-left: 25px;
		width: 280px;
	}
	#photogallery {
		width: 80%;
		margin: 0 auto;
	}
	#gallery li {
		width: 29.26%;
		margin: 1.0%;
	}
}
